@charset "utf-8";
/* CSS Document */
body { color:#fff; background:#2E363F; }
a { color:#fff; }
a:hover { color:#fff; }
.public_color { color:#009000; }
.public_color1,a.public_color1,a:hover.public_color1 { color:#ff0000; }
.public_color2 { color:#009000; }
.head_wrap { height:81px; background:#061325; }
.head, .middle { width:990px; margin:0px auto; }
.head_left { float:left; }
.head_right { float:right; }
.head_right li { float:left; font-size:16px; }
.head_right li a { display:inline-block; height:56px; padding:25px 10px 0px 10px; }
.head_right li a img { vertical-align:-10px; margin:0px 5px 0px 0px; }
.head_right li a:hover, .head_right li a.press { text-decoration:none; background:#2E363F; }
.middle_select { padding:15px 0px;vertical-align:0px; height:25px;  }
.middle_select select ,.middle_select_input,.middle_select_but
{
	float:left;
}
.middle_select select { background:#606972; margin:0px 10px 0px 0px; color:#fff;}
.middle_select_input { background:#606972; border:1px solid #0C1829; height:23px; line-height:23px; padding:0px 0px 0px 5px;color:#fff; margin:0px 10px 0px 0px;  }
.middle_select_but { width:70px; height:25px; background:#061325; color:#fff; border:0px; cursor:pointer; background:#061325;  }
.shopshow_title { background:#061325; height:44px; margin:10px 0px 0px 0px; }
.shopshow_title h3 { font-size:16px; }
.shopshow_title h3 img { vertical-align:-6px; margin:8px 8px 0px 10px; }
.shopshow_table h3 { font-size:16px; font-weight:bold; padding:0px 0px 5px 10px; }
.shopshow_table h3 a
{
	color:#8DD3FF;
}
.shopshow_table h3 a:hover
{
	color:#8DD3FF;
}
.shopshow_table h4 { font-size:14px; padding:0px 0px 0px 10px; }
.shopshow_table_pe
{position:relative;z-index:10;width:130px;
}
.shopshow_table_plan {   background:#666;   }

.shopshow_table_plans { background:url(../images/line.png) repeat-x left top; height:8px; position:relative; }
.shopshow_table_plans img { position:absolute; right:-5px; top:-6px; }

.shopshow_table { padding:0px 0px 15px 0px; }
.shopshow_table_win { position: absolute; left: -67px; top: 10px; width: 268px; display:none; z-index:99; }
.shopshow_table td { padding:15px 0px 15px 0px;border-bottom: 1px dotted #4B4B4B; }
.shopshow_table_plan1
{
padding:0px 10px 0px 0px;
}
.shopshow_table_plan1 td
{
padding:0px;
text-align:center;
border:0px;
}
.shopshow_table_plan1 td img
{
vertical-align:0px;
margin:0px 0px 0px 3px;
}
.shopshow_table_win_ico { text-align:center; }
.shopshow_table_win_mid { background:#fff; padding:5px 0px 0px 0px; font-size:12px; }
.shopshow_table_win_table { color:#5B5B5B; border-top:2px solid #F9F9F9; padding:0px 0px 5px 10px; margin:0px 5px; font-size:12px; }
.shopshow_table_win_table1 { color:#5B5B5B; font-size:12px; border-top:1px dashed #F4A7A9; margin:0px 5px; padding:0px 0px 5px 10px; }
.shopshow_table_win_table td { padding:5px 0px 0px 0px; text-align:left; border:0px; }
.shopshow_table_win_table img { margin:0px 5px 0px 0px; }
.shopshow_table_win_table1 td, .shopshow_table_win_table1 th { padding:5px 0px 0px 0px; }
.shopshow_table_win_table1 td
{
text-align:left;border:0px;
}
.shopshow_table_win_table1 th { width:26%; }
.shopshow_table1
{
	border-bottom:1px solid #4B4B4B;
	padding:20px 0px 20px 0px;
	margin:0px 0px 20px 0px;
}
.shopshow_table1_title
{
	height:30px;
	font-size:14px;
	border-bottom:1px solid #4B4B4B;
	font-weight:bold;
	padding:15px 0px 5px 5px;
	margin:0px 0px 20px 0px;
}
.shopshow_table1_title1
{
	height:59px;
	line-height:59px;
	background:#101C25;
	font-size:16px;
	padding:0px 0px 0px 15px;font-weight:bold;
}
.shopshow_table1_title1 span
{
	color:#FF6600;
	font-size:30px;
	font-weight:bold;
	vertical-align:-5px;
}
.shopshow_table1_title2
{
	height:59px;
	margin:10px 0px 0px 0px;
}
.shopshow_table1_title2_div
{
	float:left;background:#454A50;height:59px; line-height:59px;
	font-size:16px;
	color:#FFF;
	padding:0px 25px;
	text-align:center;
}
.shopshow_table1_title2_div h3,.shopshow_table1_title2_div h4
{
	line-height:24px;
}
.shopshow_table1_title2_div h3
{
	padding:5px 0px 0px 0px;
	font-weight:bold;
	font-family:Tahoma;
}
.shopshow_table1_title2_div h4
{
	font-weight:bold;
}
.shopshow_table2
{
	font-size:14px;padding:5px 0px 0px 15px;
	line-height:30px;
}
.shopshow_table2 th,.shopshow_table2 td
{
	padding:0px 0px 5px 0px;
}
.shopshow_table2 th
{
	width:80px;
	text-align:right;
}
.shopshow_table3
{
	padding:5px 0px 0px 0px;
}
.shopshow_table3 th
{
	text-align:center;
	height:34px;
	background:#7C7F84;
	color:#fff;
}
.shopshow_table4
{
	padding:5px 0px 0px 0px;
}
.shopshow_table4 th
{
	text-align:center;
	height:34px;
	background:#7C7F84;
	color:#fff;
}
.shopshow_table4 td
{
	padding:8px 0px;
	border-bottom:1px solid #4B4B4B;
}
.page
{
	text-align:center;
	padding:20px 0px;
	color:#fff;
}
.page a
{
	margin:0px 2px;
	display:inline-block;
	border:1px solid #7C7C7C;
	background:#666666;
	height:20px;
	padding:0px 5px;
	line-height:20px;
}
.page input
{
border:1px solid #061325;
	background:#061325;
	color:#fff;
	padding:3px 4px 2px 4px;
	cursor:pointer;
}
.page a:hover
{
	text-decoration:none;
}

#preview{ float:none; margin:20px auto; text-align:center; width:500px;}
.jqzoom{ width:350px; height:350px; position:relative;}

.zoomdiv{ left:859px; height:400px; width:400px;}
.list-h li{ float:left;}
#spec-n5{width:350px; height:56px; padding-top:6px; overflow:hidden;}
#spec-left{ background:url(images/left.gif) no-repeat; width:10px; height:45px; float:left; cursor:pointer; margin-top:5px;}
#spec-right{background:url(images/right.gif) no-repeat; width:10px; height:45px; float:left;cursor:pointer; margin-top:5px;}
#spec-list{ width:325px; float:left; overflow:hidden; margin-left:2px; display:inline;}
#spec-list ul li{ float:left; margin-right:0px; display:inline; width:62px;}
#spec-list ul li img{ padding:2px ; border:1px solid #ccc; width:50px; height:50px;}

/*jqzoom*/
.jqzoom{position:relative;padding:0;}
.zoomdiv{z-index:100;position:absolute;top:1px;left:0px;width:400px;height:400px;background:url(i/loading.gif) #fff no-repeat center center;border:1px solid #e4e4e4;display:none;text-align:center;overflow: hidden;}
.bigimg{width:800px;height:800px;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:50px;height:50px;border:1px solid #aaa;background:#FEDE4F 50% top no-repeat;opacity:0.5;-moz-opacity:0.5;-khtml-opacity:0.5;filter:alpha(Opacity=50);cursor:move;}
#spec-list{ position:relative; width:322px; margin-right:6px;}
#spec-list div{ margin-top:0;margin-left:-30px; *margin-left:0;}